.navBarTop {
 background: rgba(255, 250, 117, 0.673);
 position: fixed;
 top: 0;
 left: 0;
 height: 50px;
 width: 100%;
 z-index: 1;
 display: flex;
 justify-content: space-between;
}

#first {
 margin: 10px 10px;
 width: 24px;
 height: 20px;
}

#second {
 margin-top: 0px;
}

#third,
#fourth {
 width: 30%;
 background-color: rgba(166, 5, 123, 0.733)
}

.main {
 display: flex;
 height: calc(100vh-50px);
 margin-top: 50px;
 justify-content: space-between;
}

.section {
 flex: 1;
 height: 100vh;
 background: rgb(50, 10, 126);
}

.navBarLeft {
 background: rgb(166, 5, 123);
}

.videoPlay {
 background: rgb(8, 140, 166);
}

.sideBar {
 background: green;
}